*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#050816,#0b1120,#111827);
color:#fff;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
overflow:hidden;
}

.container{
width:95%;
max-width:450px;
padding:30px;
border-radius:25px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(20px);
box-shadow:0 0 40px rgba(0,255,255,.25);
text-align:center;
}

h1{
font-size:38px;
margin-bottom:8px;
}

.subtitle{
opacity:.75;
margin-bottom:25px;
}

.upload{
border:2px dashed #00e5ff;
padding:25px;
border-radius:20px;
margin:20px 0;
cursor:pointer;
}

.upload:hover{
background:rgba(255,255,255,.05);
}

input,
select,
button{
width:100%;
padding:15px;
margin-top:15px;
border:none;
border-radius:15px;
font-size:16px;
}

button{
background:#00e5ff;
color:#000;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.03);
}

#status{
margin-top:20px;
color:#00ff99;
font-weight:bold;
}
